/*police */
@font-face {
    font-family: "harryP";
    src: url("../asset/fonts/HARRYP.ttf");
}

@font-face {
    font-family: "lumos";
    src: url("../asset/fonts/lumos.ttf");
}

@font-face {
    font-family: "magicSchool";
    src: url("../asset/fonts/magic-school.one.ttf");
}

@font-face {
    font-family: "magicSchool2";
    src: url("../asset/fonts/magic-school.two.ttf");
}

@font-face {
    font-family: "magicStory";
    src: url("../asset/fonts/MagicStory.otf");
}
/*mise en page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    background-image: url("../asset/img/fond_carte.jpg");
    background-position: center;
    position: relative;
}
h1{
    font-family: harryP, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding: 30px 10px;
    color: #a50c14;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
article {
    border: black solid;
    border-radius: 25%;
    background: white;
    margin: 10px 10px;
    width: 400px;
    height: 400px;
}
a{
    text-decoration: none;
    color: #a50c14;
    font-size: 1rem;
}
.choixTitre {
    padding: 0px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.choixImg {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    margin: -35px 30px;
}

p {
    font-family: lumos, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 25px;
    padding: 30px 10px;
    color: #a50c14;
}